body, html {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}


/*parallax effect*/
.parallax {
    height: 100%;

    /*creating scrolling effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /*centering welcome message div*/

}

/**Images**/
.firstbackground {
    background-image: url(../images/galaxy1.jpg);
}

.secondbackground {
    background-image: url(../images/galaxy2.jpg);
}

.showcase3 {
    background-image: url(../images/vanTemplateImage.png);
    background-size: cover;
    background-position: center;
}
/** Text **/

/*Container div for Welcome message*/
.outerContainer {
    height: 100%;
    display: flex;
    justify-content: center;
}

/**Menu button**/

.menuContainer {
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}

    .menuburger {
        display: inline-block;
        align-self: flex-start;
        cursor: pointer;
        margin-bottom: auto;
        padding-top: 0.5em;
        position: fixed;
        top: 0;  
    }

        .bar1, .bar2, .bar3 { 
            width: 40px;
            height: 6px;
            background-color: white;
            margin: 7px 17px;
            transition: 0.1s;
        }

    /*Slide down menu*/

    .menuContainer ul {
        color: white;
        margin-bottom: auto;
        margin-left: 6px;
        padding: 5px;
        transform: translate(0, 35px); /*this moves the menu item above the viewport*/  
        margin-bottom: auto;
        position: fixed;
        top: 0;  

        /*bouncing in from under the menu burger*/
        transition: transform .4s cubic-bezier(.41,.28,.47,1.44);

    }

    .menuItems {
        visibility: hidden;
    }

        .menuContainer ul li {
            margin: 9px;
            text-align: left;
        }

            .menuContainer a {
                text-decoration: none;
                color: white;
            }

            /*crossFunction: CSS class change animation for menu burger*/
            /*bar1: rotation*/
            .menuAnimation .bar1 {
                backface-visibility: hidden;
                top: 15px;
                transform:  translate(0, 12.5px) rotate(50deg);
                transition: 0.3s;
                /*transform: translateY(12px) rotate(135deg);*/
            }

            /*bar2: fade*/
            .menuAnimation .bar2 {
                opacity: 0;
            }

            /*bar3: rotation*/
            .menuAnimation .bar3 {
                backface-visibility: hidden;
                top: 15px;
                transform: translate(0, -12.5px) rotate(-410deg);
                transition: 0.3s;
            }

            /*pop down menu*/ 
            .menuAnimation.menuItems {
                transform: translate(0, 80px);
                cursor: pointer;
                color: red;
            }

            /*Cubic-besi animation on menu items*/
            .item1 {

            }


    .parallaxOverlay {
        height: 100vh;
        width: 100vw;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .parallaxOverlay p {    
            font-size: 9.5em; 
            color: white;             
            margin-bottom: 40vh;
        }

/* floating content box which moves up upon scrolling */
.welcome {
    height: 20rem;
    background-color:#201E1F;
    color:#6B8EAE;
    text-align: center;
    font-size: 2em;
}

    .welcome p {
        padding-top: 2.4em;
    }

    .welcome span {
        font-size: 2em;
    }

.portfolioContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #201E1F;
}

    .portfolioContainer div {
        width: 320px;
        height: 237.5px;
        margin-top: 8px;
        margin-bottom: 8px;

    }

    .showcase1 {
        background-color: blue 
    }

    .showcase2 {
        background-color: red; 
    }

    .showcase4 {
        background-color: green;
    }



/*************** MEDIA QUERIES ********************/

/* 
  ##Device = Horizontal ipads, Laptops, Desktops
  ##Screen = B/w 1025px up
*/

@media (min-width: 1025px) {

    .parallaxOverlay p {    
        font-size: 15em; 
    }

  }

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
    /*Fudging the margins so that the the showcase pieces display in 2X2 for this size range only*/
    .portfolioContainer div {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }  
  }

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    /*Hello message*/
    .parallaxOverlay p {    
        font-size: 12em; 
    }
    
  }